.nav {
    border-bottom: 2px solid $light-grey;
}
.n {
    position:relative;
    a {  
        position: absolute;
        height: 100%;
    }
    .align-left {
        left: 0;
    }
    .align-right {
        right: 0;
    }
    .selected {
        p {
            color: $blue;
        }
        border-bottom: 2px solid $blue;
    }
}
.user {
    p {
        color: $blue;
    }
}