.labels {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background: $light-grey;
}
.order {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid $light-grey;
    position: relative;
    .name {
        p {
            color: $blue;
        }
    }
    .washer {
        p {
            color: $black;
        }
    }
    .driver {
        p {
            color: $black;
        }
    }
    .status {
        .statustag {
            padding: 10px 20px 10px 20px;
            background: $light-blue;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            color: $blue;
        }
    }
    .order-expanded {
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        border: 2px solid $light-grey;
        background: $white;
        border-radius: 5px;
        position: absolute;
        padding: 200px;
        box-shadow: 0px 0px 10px 3px $light-grey;
    }
}
